body {
  margin: 0;
}
.main {
  text-align: center;
}
.wrap {
  display: inline-block;
  width: 1170px;
}
.table {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 8px 12px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid black;
  padding: 10px;
  width: 100%;
}
